@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	overflow: hidden;
	touch-action: none;
	cursor: url('cursor.svg'), auto;
}

.mouseEffect {
	position: fixed;
	border-radius:50%;
	left: 0;
	top: 0;
	z-index: 998;
	pointer-events: none;
	background: transparent;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #11161C;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #454c53;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #363B41;
}